UserWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tp="http://tutorialspedia.com/UserWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserWS" targetNamespace="http://tutorialspedia.com/UserWS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tutorialspedia.com/UserWS/" xmlns:Q1="http://www.tutorialspedia.com/UserSchema">
            <xsd:import schemaLocation="UserSchema.xsd" namespace="http://www.tutorialspedia.com/UserSchema"></xsd:import>
            <xsd:element name="AddUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AddRequest" type="Q1:UserType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ResponseMessage" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteUser">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="UserID" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteUserResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="ResponseMessage" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetUser">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="UserName" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetUserResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="GetUsersResponse" type="Q1:UserType"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllUsers">
      	<xsd:complexType>
      		<xsd:sequence>

      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllUsersResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="GetUsersResponse" type="Q1:UsersType"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateUser">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="UpdateUserRequest" type="Q1:UserType"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateUserResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="ResponseMessage" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddUserRequest">
    <wsdl:part element="tp:AddUser" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddUserResponse">
    <wsdl:part element="tp:AddUserResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DeleteUserRequest">
  	<wsdl:part name="parameters" element="tp:DeleteUser"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteUserResponse">
  	<wsdl:part name="parameters" element="tp:DeleteUserResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserRequest">
  	<wsdl:part name="parameters" element="tp:GetUser"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserResponse">
  	<wsdl:part name="parameters" element="tp:GetUserResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllUsersRequest">
  	<wsdl:part name="parameters" element="tp:GetAllUsers"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllUsersResponse">
  	<wsdl:part name="parameters" element="tp:GetAllUsersResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateUserRequest">
  	<wsdl:part name="parameters" element="tp:UpdateUser"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateUserResponse">
  	<wsdl:part name="parameters" element="tp:UpdateUserResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserWS">
    <wsdl:operation name="AddUser">
      <wsdl:input message="tp:AddUserRequest"/>
      <wsdl:output message="tp:AddUserResponse"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
    	<wsdl:input message="tp:DeleteUserRequest"></wsdl:input>
    	<wsdl:output message="tp:DeleteUserResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
    	<wsdl:input message="tp:GetUserRequest"></wsdl:input>
    	<wsdl:output message="tp:GetUserResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
    	<wsdl:input message="tp:GetAllUsersRequest"></wsdl:input>
    	<wsdl:output message="tp:GetAllUsersResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
    	<wsdl:input message="tp:UpdateUserRequest"></wsdl:input>
    	<wsdl:output message="tp:UpdateUserResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserWSSOAP" type="tp:UserWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tutorialspedia.com/UserWS/AddUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tutorialspedia.com/UserWS/DeleteUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tutorialspedia.com/UserWS/UpdateUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tutorialspedia.com/UserWS/GetUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tutorialspedia.com/UserWS/GetAllUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserWS">
    <wsdl:port binding="tp:UserWSSOAP" name="UserWSSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
